:root
{   
    --table-border-spacing: 10px;
    --game-columns: 5;
    --game-rows: 4;
    --header-height: 80px;
    --line-thickness: 10px;
}

body
{
    background-color: rgb(52, 52, 52);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

Header
{
    background-color: rgb(35, 35, 35);
    height: var(--header-height);
    position: absolute;
    width: 100%;
}

h1
{
    text-align: center;
}

main
{
    background-color: rgb(0, 0, 0);
    height: calc(100% - var(--header-height));
    position: absolute;
    top: var(--header-height);
    width: 100%
}

.game_boxes_container
{
    aspect-ratio: calc(var(--game-columns) / var(--game-rows));
    margin: auto;
    margin-bottom: auto;
    max-width: 100%;
    max-height: 100%;
}

#game_boxes
{
    border-collapse: collapse;
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

#game_boxes td
{
    background-color: rgb(0, 0, 0);
    border: var(--line-thickness) solid rgb(255, 255, 255);
    text-align: center;
    color: rgb(126, 126, 126);
}
