:root
{   
  --grid-gap: 10px;
  --header-height: 80px;
  --line-thickness: 10px;
  --dot-colour: rgb(163, 163, 163);
  --line-colour: rgb(49, 49, 49);
  --lit-colour: rgb(88, 88, 88);
}

body
{
  background-color: rgb(78, 78, 78);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

Header
{
  background-color: rgb(35, 35, 35);
  height: var(--header-height);
  position: absolute;
  width: 100%;
}

h1
{
  text-align: center;
}

main
{
  background-color: rgb(0, 0, 0);
  display: grid;
  height: calc(100% - var(--header-height));
  position: absolute;
  top: var(--header-height);
  width: 100%
}

.grid_container 
{
  position: absolute;
  place-self: center;
  grid-template-columns: repeat(var(--game-columns), 1fr 4fr) 1fr;
  grid-template-rows: repeat(var(--game-rows), 1fr 4fr) 1fr;
  aspect-ratio: calc(var(--game-columns) / var(--game-rows));
  max-height: 100%;
  max-width: 100%;
  display: grid;
}

#game_grid h_line
{
  color:rgb(0, 255, 0);
  text-align: center;
}

#game_grid h_line:hover
{
  background-color: var(--line-colour);
}

#game_grid v_line
{
  color:rgb(255, 0, 0);
  text-align: center;
}

#game_grid v_line:hover
{
  background-color: var(--line-colour);
}

#game_grid box
{
  background-color: var(--box-colour);
  color:rgb(0, 0, 255);
  text-align: center;
}

#game_grid dot
{
  background-color: var(--dot-colour);
  text-align: center;
  clip-path: ellipse(closest-side farthest-side);
  font-size: x-small;
}

.lit
{
  background-color: var(--lit-colour);
}